$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-regular: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;
$font-size-xl: 32px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
